
.offer-column{
	width: 33%;
	float: left;
	padding: 0px;
	text-align: center;
}
.offer-column .list-group{
	display: block;
}

.row {
	margin: auto;
	text-align: center;
  width: 200px; 
}

#intercambio{
	height: 600px;
	width: 100%;
	padding: 10px;
}

#filter{
	margin-bottom: 30px;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-align: center;
}

#intercambio-column{
	padding-right: 1px;
	padding-left: 1px;
	background-color: lightblue;
	border-right: 5px solid white;
}
#pide-column{
	border: 1px solid lightblue;
	height: auto;
	background-color: lightblue;
	
}
#ofrece-column{
	border: 1px solid lightblue;
	border-right:0px;
	background-color: lightblue;
	height: auto;
}
#action{
	height:50%;
	padding-left: 20px;
}

#action button{
	margin-bottom:10px;
	margin-top: 10px;
	text-align: center;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	width: 70%;
	font-weight: bold;
}

#MainTable img{
    margin-right: 30px;
} 

.nostyle {
	color:black;
	    text-decoration: none;
}
.nostyle:hover {
	color: #0000ff;
	text-decoration: none;
}

